html,
body {
    background: radial-gradient(circle at top,
            #1a1a1a 0%,
            #0f0f0f 35%,
            #090909 70%,
            #000000 100%);
}

.cocktaillink {
    margin-left: 2%;
    font-size: 25px;
    color: whitesmoke;
}

.cocktaillink:hover {
    color: rgb(0, 255, 0);
}

#alkoholische {
    margin-left: 10px;

}

#alkoholische:hover {
    color: rgb(0, 255, 0) !important;

}

#nichtalkoholische:hover {
    color: rgb(0, 255, 0) !important;

}


#alkoholische:focus {
    color: rgb(0, 255, 0) !important;

}

#nichtalkoholische:focus {
    color: rgb(0, 255, 0) !important;

}

#cocktail {
    height: 100%;
}

#auswahl {
    font-size: 50px;
    font-style: oblique;
    color: whitesmoke;
    margin-top: 35px;
    margin-bottom: 15px;
    text-decoration-line: underline;
}

#picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}



img {
    border-radius: 8px;
    max-width: 200px;
    height: auto;


}

#textzubereitung {

    font-size: 35px;
    margin-left: 40px;
}

#ingredients {

    font-size: 35px;
    margin-left: 40px;
}

body {
    font-family: 'Shadows Into Light', cursive;
    color: whitesmoke;
    background-image: url(C:/Users/Matthias/ams-it-lehrgang-2021/Matthias/Cocktails%20bootstrap/FreeVector-Cocktail-Glasses-Vector.jpg);
    background-repeat: initial;
    background-size: 20%;
    background-blend-mode: luminosity;
    margin-left: 0%;
    border-left: 0%;
    padding-left: 0% !important;

}



header {
    font-size: 40pt;
    margin-bottom: 30px;
    text-decoration-style: double;
    text-decoration-line: underline;
}

#listeallerdrinks {
    color: whitesmoke;
}





#tafel {
    padding: 40px 20px 20px 20px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    box-shadow: 0 0 30px #fff;
    background-color: rgb(1, 25, 14);
}

#h1suche {
    margin-top: 30px;
    text-decoration-line: underline;

}

#imgspan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 50px;
}

h2 {
    text-decoration-line: underline;
    font-weight: bold;
    margin-left: 20px;
}

#suchengruppe {
    margin-right: 10px;

}

#inputsuchen {
    background-color: rgba(0, 0, 0,0);
    font-size: xx-large;
    color: whitesmoke;
}

#inputsuchen::content {
    background-color: black;
    color: whitesmoke;
}

#linksuchen {
    background-color: rgba(0, 0, 0, 0);
    font-size: xx-large;
    color: whitesmoke;
    border-width: 2px;
    border-color: whitesmoke;
    transition: 0.3s ease-in-out;
}

#linksuchen:hover {
    transform: translateX(5px) scale(1.1);
    color: lawngreen;
    border-width: 2px;
    border-color: lawngreen;
}



a:active {
    color: greenyellow !important;
    border-color: greenyellow !important;
}