.cocktaillink {
    margin-left: 2%;
    font-size: 25px;
    color: whitesmoke;
}

.cocktaillink:hover {
    color: rgb(0, 255, 0);
}

#alkoholische {
    margin-left: 10px;

}

#alkoholische:hover {
    color: rgb(0, 255, 0) !important;

}

#nichtalkoholische:hover {
    color: rgb(0, 255, 0) !important;

}


#alkoholische:focus {
    color: rgb(0, 255, 0) !important;
  
}

#nichtalkoholische:focus {
    color: rgb(0, 255, 0) !important;

}

#cocktail {
    height: 100%;
}

#auswahl {
    font-size: 50px;
    font-style: oblique;
    color: whitesmoke;
    margin-top: 35px;
    margin-bottom: 15px;
    text-decoration-line: underline;
}


img {
    max-width: 80%;
    height: max-content;

    
}

#textzubereitung {
    
    font-size: 35px;
    margin-left: 40px;
}

#ingredients {
    
    font-size: 35px;
    margin-left: 40px;
}

body {
    font-family: 'Shadows Into Light', cursive;
    color: whitesmoke;
    background-image: url(C:/Users/Matthias/ams-it-lehrgang-2021/Matthias/Cocktails%20bootstrap/FreeVector-Cocktail-Glasses-Vector.jpg);
    background-repeat: initial;
    background-size: 20%;
    background-blend-mode: luminosity;
    margin-left: 0%;
    border-left: 0%;
    padding-left: 0% !important;

}



header {
    font-size: 40pt;  
    margin-bottom: 30px;
    text-decoration-style: double;
    text-decoration-line: underline;
}

#listeallerdrinks {
    color: whitesmoke;
}





#tafel {  
    border: 55px;
    border-style: groove;
    border-color: sienna;
    background-color: black;
}

#h1suche {
    margin-top: 30px;
    text-decoration-line: underline;
    
}

#imgspan {
    font-size: 50px;
    text-align: center;
}

h2 {
    text-decoration-line: underline;
    font-weight: bold;
    margin-left: 20px;
}

#suchengruppe {
    margin-right: 10px;

}

#inputsuchen {
    background-color: black;
    font-size: xx-large;
    color: whitesmoke;
}

#inputsuchen::content {
    background-color: black;
    color: whitesmoke;
}

#linksuchen {
    background-color: black;
    font-size: xx-large;
    color: whitesmoke;
    border-width: 2px;
    border-color: whitesmoke;
}



a:active {
    color: greenyellow !important;
    border-color: greenyellow !important;
}


